<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354823086142-7f6g54scvjkqat47hbgmpcrrlueo7mgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354823086142-7f6g54scvjkqat47hbgmpcrrlueo7mgb</string>
	<key>API_KEY</key>
	<string>AIzaSyBaqrr3ii4FhlbN0h_0ZtPU4a21Ceomq-8</string>
	<key>GCM_SENDER_ID</key>
	<string>354823086142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alphabit.checklist</string>
	<key>PROJECT_ID</key>
	<string>checklist-swivel</string>
	<key>STORAGE_BUCKET</key>
	<string>checklist-swivel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354823086142:ios:3b7a390c629c367342b16f</string>
</dict>
</plist>